{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.1.1/ekko-lightbox.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'coverr/coverr.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Mi página personal - Juan Carlos Navarrete Gordillo</title>

    {% if not DEBUG %}
    <script type="text/javascript">
        window.smartlook||(function(d) {
        var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
        var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
        c.charset='utf-8';c.src='//rec.smartlook.com/recorder.js';h.appendChild(c);
        })(document);
        smartlook('init', '17474b7292fd93f239c2eb374e2523116371397c');
    </script>
    {% endif %}

    <style>

        .homepage-hero-module {
            height: 400px !important;
        }

        .filter {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2353e0+0,0f46dd+100 */
            background: #556082; /* Old browsers */
            background: -moz-linear-gradient(-45deg, #556082 0%, #1c43af 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(-45deg, #556082 0%, #1c43af 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(135deg, #556082 0%, #1c43af 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#556082', endColorstr='#1c43af', GradientType=1); /* IE6-9 fallback on horizontal gradient */
        }

        .gray-bg {
            background-color: #FAFAFA;
        }
    </style>
</head>
<body>
<div class="homepage-hero-module">
    <div class="video-container">
        <div class="filter"></div>
        <div class="title-container">
            <div id="avatar" class="mx-auto wow fadeIn">
                <style>
                    #avatar {
                        width: 150px;
                        height: 150px;
                        position: relative;
                        border-radius: 50%;
                        border: 3px solid #e0e0e0;
                    }

                    .backgroundimg {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        border-radius: 50%;
                    }

                    #back1 {
                        background: url("{% static 'img/jan3.jpg' %}");
                        background-position: center center;
                        background-size: cover;
                    }

                    #back2 {
                        background: url("{% static 'img/jan2.jpg' %}");
                        background-position: center center;
                        background-size: cover;
                    }

                    #back3 {
                        background: url("{% static 'img/jan1.jpg' %}");
                        background-position: center center;
                        background-size: cover;
                    }

                </style>
                <div class="backgroundimg" id="back1"></div>
                <div class="backgroundimg" id="back2"></div>
                <div class="backgroundimg" id="back3"></div>
            </div>
            <h1 class="mb-4 mt-3">Juan Carlos Navarrete Gordillo</h1>
            <h5>
                <b>Web Developer</b>
                <br>
                <small> <i>(+2 años experiencia)</i></small>
            </h5>
        </div>
        <!--
        <video autoplay loop class="fillWidth">
            <source src="{% static 'media/Love-Coding.mp4' %}" type="video/mp4"/>
            Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="{% static 'media/Love-Coding.webm' %}" type="video/webm"/>
            Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>

        <div class="poster">
            <img src="{% static 'media/Love-Coding.jpg' %}" alt="">
        </div>
        -->
    </div>
</div>

<div class="gray-bg card-1">
    <div class="container">
        <div class="row">
            <div class="col my-5 text-center">
                <p class="mb-1">
                    Próximo <b>Ingeniero en Sistemas (ESCOM-IPN)</b>
                <div class="progress mx-auto text-center" style="width: 10rem;">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
                         aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%">Progreso: 85%
                    </div>
                </div>
                </p>
                <p><i>{{ age }} años - Ciudad de Mexico</i></p>
                <p>Entusiasta de la <b>tecnología</b>, apasionado a los <b>gatos</b>, los <b>gadgets</b> y al
                    <b>café</b>.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-5">
    <div class="row my-5">
        <div class="col-12 text-center mb-5">
            <h2>EXPERIENCIA</h2>
        </div>
        <div class="col-lg-4">
            <div class="empleo text-center mb-5">
                <img src="{% static 'img/renka.jpeg' %}" alt="" class="mb-4 wow fadeIn" data-wow-duration="1s">
                <h4 class="empresa mb-4"><b>RENKA</b></h4>
                <p class="puesto lead mb-0"><i>Front-End Developer</i></p>
                <p>
                    <small class="text-muted"><i>Abril 2015 - Agosto 2016</i></small>
                </p>
                <p class="descripcion">
                    <small>
                        Desarrollo del Front-End en su totalidad de la plataforma de <i>crowdfunding</i>
                        Renka, con tecnologías como HTML5, CSS3, JS, JQuery, Bootstrap 3, en un entorno
                        basado en Django, validación de formularios, diseño UX/UI y creación de features diversos.
                    </small>
                </p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="empleo text-center mb-5">
                <img src="{% static 'img/petdate.png' %}" alt="" class="mb-4 wow fadeIn" data-wow-duration="1s">
                <h4 class="empresa mb-4"><b>PETDATE</b></h4>
                <p class="puesto lead mb-0"><i>Full-Stack Developer</i></p>
                <p>
                    <small class="text-muted"><i>Octubre 2016 - Enero 2017</i></small>
                </p>
                <p class="descripcion">
                    <small>
                        Creación de una plataforma para crear perfiles de negocios especializados en mascotas,
                        así como manejo de citas online. Uso de Django como Framework Back-End, Base de Datos
                        PostgreSQL, Deployment en Heroku, y HTML5, CSS3, JS, Jquery, MaterializeCSS y diversas librerías
                        JS para el Front-End, Diseño completo de UX/UI de la plataforma.
                    </small>
                </p>
                <a href="https://petdate.herokuapp.com/" class="m-0" target="_blank">petdate.herokuapp.com</a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="empleo text-center mb-5">
                <img src="{% static 'img/deliandgo.png' %}" alt="" class="mb-4 wow fadeIn" data-wow-duration="1s">
                <h4 class="empresa mb-4"><b>DELI&GO</b></h4>
                <p class="puesto lead mb-0"><i>Front-End Developer</i></p>
                <p>
                    <small class="text-muted"><i>Enero 2017 - Marzo 2017</i></small>
                </p>
                <p class="descripcion">
                    <small>
                        Desarrollo del Front-End de la plataforma de Pedidos de comida sana a domicilio
                        Deli&Go, con uso de HTML5, CSS3, JS, Jquery, Google API's, Bootstrap 3,
                        diseño UX/UI de la totalidad de la plataforma.
                    </small>
                </p>
            </div>
        </div>
        <div class="col-12">
            <div class="text-center pointer" id="btn-mas-empleos">
                <p class="m-0">Ver mas</p>
                <i class="fa fa-angle-down fa-2x" aria-hidden="true"></i>
            </div>
            <div class="row mt-5 justify-content-md-center" id="row-mas-empleos" style="display: none;">
                <div class="col-md-6 col-lg-4">
                    <div class="empleo text-center wow fadeIn">
                        <h4 class="empresa mb-4"><b>TechLatam</b></h4>
                        <p class="puesto lead mb-0"><i>Tecnico en Soporte al Usuario</i></p>
                        <p>
                            <small class="text-muted"><i>Diciembre 2011 - Noviembre 2012</i></small>
                        </p>
                        <p class="descripcion">
                            <small>
                                Asesor en soporte a clientes para Windows y Linux, tanto privados como empresariales.
                                Instalación de servicios físicos como cableados estructurados y Equipos de Cómputo.
                                Servicios de instalación de Software y gestión de servidores y bases de datos.
                            </small>
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="empleo text-center wow fadeIn">
                        <h4 class="empresa mb-4"><b>HSM</b></h4>
                        <p class="puesto lead mb-0"><i>Supervisor / Asesor de Soporte </i></p>
                        <p>
                            <small class="text-muted"><i>Febrero 2014 - Agosto 2014</i></small>
                        </p>
                        <p class="descripcion">
                            <small>
                                Supervisión, control de errores del sistema de la empresa
                                Supervisión y mantenimiento a los equipos.
                                Detección de mejoras operacionales propias de la empresa.
                                Desarrollo y programación de módulos al sistema empresarial.
                            </small>
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="empleo text-center wow fadeIn">
                        <h4 class="empresa mb-4"><b>ADWEBSYS</b></h4>
                        <p class="puesto lead mb-0"><i>Maquetacion Web</i></p>
                        <p>
                            <small class="text-muted"><i>Octubre 2014 - Diciembre 2014</i></small>
                        </p>
                        <p class="descripcion">
                            <small>
                                Maquetación de sitios web en una agencia de Desarrollo Web.
                                Uso de HTML5, CSS3 ,JS, Jquery.
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="w-100">
    <h3 class="text-center">
        Portafolio
    </h3>
    <div class="slick-container">
        <a href="{% static 'img/capturas/1.jpg' %}" data-toggle="lightbox" data-gallery="capturas-gallery"><img
                src="{% static 'img/capturas/1.jpg' %}" alt="" class="captura"></a>
        <a href="{% static 'img/capturas/2.jpg' %}" data-toggle="lightbox" data-gallery="capturas-gallery"><img
                src="{% static 'img/capturas/2.jpg' %}" alt="" class="captura"></a>
        <a href="{% static 'img/capturas/4.jpg' %}" data-toggle="lightbox" data-gallery="capturas-gallery"><img
                src="{% static 'img/capturas/4.jpg' %}" alt="" class="captura"></a>
        <a href="{% static 'img/capturas/3.jpg' %}" data-toggle="lightbox" data-gallery="capturas-gallery"><img
                src="{% static 'img/capturas/3.jpg' %}" alt="" class="captura"></a>
        <a href="{% static 'img/capturas/5.jpg' %}" data-toggle="lightbox" data-gallery="capturas-gallery"><img
                src="{% static 'img/capturas/5.jpg' %}" alt="" class="captura"></a>
        <a href="{% static 'img/capturas/9.jpg' %}" data-toggle="lightbox" data-gallery="capturas-gallery"><img
                src="{% static 'img/capturas/9.jpg' %}" alt="" class="captura"></a>
        <a href="{% static 'img/capturas/7.jpg' %}" data-toggle="lightbox" data-gallery="capturas-gallery"><img
                src="{% static 'img/capturas/7.jpg' %}" alt="" class="captura"></a>
        <a href="{% static 'img/capturas/8.jpg' %}" data-toggle="lightbox" data-gallery="capturas-gallery"><img
                src="{% static 'img/capturas/8.jpg' %}" alt="" class="captura"></a>
        <a href="{% static 'img/capturas/6.jpg' %}" data-toggle="lightbox" data-gallery="capturas-gallery"><img
                src="{% static 'img/capturas/6.jpg' %}" alt="" class="captura"></a>r
        <a href="{% static 'img/capturas/10.jpg' %}" data-toggle="lightbox" data-gallery="capturas-gallery"><img
                src="{% static 'img/capturas/10.jpg' %}" alt="" class="captura"></a>
        <a href="{% static 'img/capturas/11.jpg' %}" data-toggle="lightbox" data-gallery="capturas-gallery"><img
                src="{% static 'img/capturas/11.jpg' %}" alt="" class="captura"></a>
        <a href="{% static 'img/capturas/12.jpg' %}" data-toggle="lightbox" data-gallery="capturas-gallery"><img
                src="{% static 'img/capturas/12.jpg' %}" alt="" class="captura"></a>
        <a href="{% static 'img/capturas/13.jpg' %}" data-toggle="lightbox" data-gallery="capturas-gallery"><img
                src="{% static 'img/capturas/13.jpg' %}" alt="" class="captura"></a>
        <a href="{% static 'img/capturas/14.jpg' %}" data-toggle="lightbox" data-gallery="capturas-gallery"><img
                src="{% static 'img/capturas/14.jpg' %}" alt="" class="captura"></a>
        <a href="{% static 'img/capturas/15.jpg' %}" data-toggle="lightbox" data-gallery="capturas-gallery"><img
                src="{% static 'img/capturas/15.jpg' %}" alt="" class="captura"></a>
    </div>
</div>

<div class="gray-bg card-2 py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="mt-5">SKILLS</h2>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-6 my-5">
                <div class="skillbar clearfix wow fadeIn" data-percent="90%">
                    <div class="skillbar-title" style="background: #d35400;"><span>HTML5</span></div>
                    <div class="skillbar-bar" style="background: #e67e22;"></div>
                </div> <!-- End Skill Bar -->

                <div class="skillbar clearfix  wow fadeIn" data-percent="85%">
                    <div class="skillbar-title" style="background: #2980b9;"><span>CSS3</span></div>
                    <div class="skillbar-bar" style="background: #3498db;"></div>
                </div> <!-- End Skill Bar -->

                <div class="skillbar clearfix  wow fadeIn" data-percent="85%">
                    <div class="skillbar-title" style="background: #6c439f;"><span>Bootstrap</span></div>
                    <div class="skillbar-bar" style="background: #6c439f;"></div>
                </div> <!-- End Skill Bar -->

                <div class="skillbar clearfix  wow fadeIn" data-percent="80%">
                    <div class="skillbar-title" style="background: #f7df1e;"><span>Javascript</span></div>
                    <div class="skillbar-bar" style="background: #f7df1e;"></div>
                </div> <!-- End Skill Bar -->

                <div class="skillbar clearfix  wow fadeIn" data-percent="85%">
                    <div class="skillbar-title" style="background: #E53935;"><span>Responsive Design</span></div>
                    <div class="skillbar-bar" style="background: #E53935;"></div>
                </div> <!-- End Skill Bar -->

                <div class="skillbar clearfix  wow fadeIn" data-percent="80%">
                    <div class="skillbar-title" style="background: #0769ad;"><span>jQuery</span></div>
                    <div class="skillbar-bar" style="background: #0769ad;"></div>
                </div> <!-- End Skill Bar -->

                <div class="skillbar clearfix wow fadeIn" data-percent="70%">
                    <div class="skillbar-title" style="background: #4d638a;"><span>SQL</span></div>
                    <div class="skillbar-bar" style="background: #4d638a;"></div>
                </div> <!-- End Skill Bar -->

                <div class="skillbar clearfix wow fadeIn" data-percent="85%">
                    <div class="skillbar-title" style="background: #f5bd0c;"><span>Linux</span></div>
                    <div class="skillbar-bar" style="background: #f5bd0c;"></div>
                </div> <!-- End Skill Bar -->

                <div class="skillbar clearfix wow fadeIn" data-percent="75%">
                    <div class="skillbar-title" style="background: #f74e27;"><span>GIT</span></div>
                    <div class="skillbar-bar" style="background: #f74e27;"></div>
                </div> <!-- End Skill Bar -->

                <div class="skillbar clearfix  wow fadeIn" data-percent="80%">
                    <div class="skillbar-title" style="background: #366d9c;"><span>Python</span></div>
                    <div class="skillbar-bar" style="background: #366d9c;"></div>
                </div> <!-- End Skill Bar -->

                <div class="skillbar clearfix  wow fadeIn" data-percent="85%">
                    <div class="skillbar-title" style="background: #44b78b;"><span>Django</span></div>
                    <div class="skillbar-bar" style="background: #44b78b;"></div>
                </div> <!-- End Skill Bar -->

            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <blockquote class="blockquote">
                    <p class="mb-0">
                        <i>
                            "No puedes ser experto en todo. Siempre hay algo que aprender."
                        </i>
                    </p>
                </blockquote>
            </div>
        </div>
    </div>
</div>

<div class="cursos-container py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white mt-5 mb-4">CURSOS</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-5">
                <div class="curso card wow fadeIn">
                    <img src="{% static 'img/react.jpg' %}" alt="react" class="img-fluid">
                    <div class="p-2">
                        <p class="">
                            <b>The Complete React Web App Developer Course</b>
                        </p>
                        <a target="_blank" href="https://www.udemy.com/the-complete-react-web-app-developer-course/">Ver
                            curso</a>
                        <span class="float-right text-primary">En progreso...</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="curso card wow fadeIn">
                    <img src="{% static 'img/sockets.jpg' %}" alt="react" class="img-fluid">
                    <div class="p-2">
                        <p class="">
                            <b>
                                Crear una aplicación web de Chat con NodeJS y SocketIO
                            </b>
                        </p>
                        <a target="_blank"
                           href="https://www.udemy.com/crear-una-aplicacion-web-de-chat-con-nodejs-y-socketio/">Ver
                            curso</a>
                        <span class="float-right text-success">Completado</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="curso card wow fadeIn">
                    <img src="{% static 'img/angular.jpg' %}" alt="react" class="img-fluid">
                    <div class="p-2">
                        <p class="">
                            <b>
                                Curso de Angular 2 en Español - Crea webapps desde cero
                            </b>
                        </p>
                        <a target="_blank"
                           href="https://www.udemy.com/curso-de-angular-2-en-espanol-crea-webapps-desde-cero">Ver
                            curso</a>
                        <span class="float-right text-primary">En progreso ...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="tecnologias-container py-5">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col col-md-8 text-center mb-4">
                <h3>Algunas tecnologías que he utilizado</h3>
                <style>
                    .tech{
                        height: 50px;
                        margin: 1.5em; /* Safari 6.0 - 9.0 */
                        -webkit-filter: grayscale(60%);
                                filter: grayscale(60%);
                        -webkit-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                    }
                    .tech:hover{
                        -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
                        filter: grayscale(0%);
                    }
                </style>
            </div>
            <div class="col-12">
                <div class="d-flex justify-content-center align-items-center flex-wrap">
                    <img src="{% static 'img/tecnologias/python.png '%}" alt="python" class="tech wow fadeIn">
                    <img src="{% static 'img/tecnologias/django.png '%}" alt="" class="tech wow fadeIn">
                    <img src="{% static 'img/tecnologias/windows.png '%}" alt="" class="tech wow fadeIn">
                    <img src="{% static 'img/tecnologias/aws.jpg '%}" alt="" class="tech wow fadeIn">
                    <img src="{% static 'img/tecnologias/eos.png '%}" alt="" class="tech wow fadeIn">
                    <img src="{% static 'img/tecnologias/html.png '%}" alt="" class="tech wow fadeIn">
                    <img src="{% static 'img/tecnologias/git.png '%}" alt="" class="tech wow fadeIn">
                    <img src="{% static 'img/tecnologias/office.png '%}" alt="" class="tech wow fadeIn">
                    <img src="{% static 'img/tecnologias/slack.png '%}" alt="" class="tech wow fadeIn">
                    <img src="{% static 'img/tecnologias/asana.png '%}" alt="" class="tech wow fadeIn">
                    <img src="{% static 'img/tecnologias/gitlab.png '%}" alt="" class="tech wow fadeIn">
                    <img src="{% static 'img/tecnologias/postgresql.png '%}" alt="" class="tech wow fadeIn">
                    <img src="{% static 'img/tecnologias/java.png '%}" alt="" class="tech wow fadeIn">
                    <img src="{% static 'img/tecnologias/ajax.png '%}" alt="" class="tech wow fadeIn">
                    <img src="{% static 'img/tecnologias/mysql.png '%}" alt="" class="tech wow fadeIn">
                    <img src="{% static 'img/tecnologias/bitbucket.png '%}" alt="" class="tech wow fadeIn">
                    <img src="{% static 'img/tecnologias/cpp.png '%}" alt="" class="tech wow fadeIn">
                    <img src="{% static 'img/tecnologias/bootstrap.png '%}" alt="" class="tech wow fadeIn">
                    <img src="{% static 'img/tecnologias/react.png '%}" alt="" class="tech wow fadeIn">
                    <img src="{% static 'img/tecnologias/adobe.png '%}" alt="" class="tech wow fadeIn">
                    <img src="{% static 'img/tecnologias/heroku.png '%}" alt="" class="tech wow fadeIn">
                    <img src="{% static 'img/tecnologias/google.png '%}" alt="" class="tech wow fadeIn">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="red-gradient py-5">
    <div class="container">
        <div class="row ">
            <div class="col text-white text-center my-5">
                <h3>SOBRE MI</h3>
            </div>
        </div>
        <div class="row mb-5 justify-content-md-center">
            <div class="col-12 col-lg-7">
                <p class="lead text-center text-white">
                    <i>
                        Rock <b>·</b> Cafe <b>·</b> Conciertos <b>·</b> Star Wars <b>·</b> Guitarra <b>·</b> Isaac
                        Asimov <b>·</b>
                        Ciencia Ficción <b>·</b> Ray Bradbury <b>·</b> Post Punk <b>·</b> New Wave <b>·</b>
                        Whiksy <b>·</b> Gatos <b>·</b> Cinéfilo <b>·</b> Melómano <b>·</b> Breaking Bad <b>·</b> Se7en
                    </i>
                </p>

                <div class="videoWrapper my-5 wow fadeIn">
                    <iframe src="https://embed.spotify.com/?uri=spotify%3Atrack%3A4k4tFDl5rmRAA7L7gIjBTI"
                            width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<footer style="background-color: #1f2532;">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-8 text-white text-center my-5">
                <h5 class="my-4">
                    <i class="ion-android-mail fa-2x text-muted mb-2"></i>
                    <br>
                    <a href="mailto:jankrloz.navarrete@gmail.com" class="text-white">
                        <i>jankrloz.navarrete@gmail.com</i>
                    </a>
                </h5>
                <div class="d-inline m-2">
                    <a href="https://www.facebook.com/jankrloz.navarrete">
                        <img src="https://es.facebookbrand.com/wp-content/uploads/2016/05/FB-fLogo-Blue-broadcast-2.png"
                             alt="facebook" class="pointer" style="height: 2rem;">
                    </a>
                </div>
                <div class="d-inline m-2">
                    <a href="https://twitter.com/jankrloz">
                        <img src="{% static 'img/twitter.png' %}"
                             alt="twitter" class="pointer" style="height: 2rem;">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/7de65c60a9.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script src="{% static 'coverr/coverr.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.1.1/ekko-lightbox.js"></script>
<script src="{% static 'js/script.js' %}"></script>

</body>
</html>
