html, body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14pt;
    overflow-x: hidden;
    color: #424648;
}

h1, h2, h3, h4, h5, h6, p.lead {
    font-weight: 300;
}

.text-muted {
    color: #7e8890;
}

.title-container {
    z-index: 1000;
    position: absolute;
    top: 15%;
    width: 100%;
    text-align: center;
    color: #fff;
}

.title-tech-logo {
    height: 2rem;
}

.border {
    border: 1px solid;
}

.btn-round-lg {
    border-radius: 22.5px;
}

.pointer {
    cursor: pointer;
}

.cursos-container {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3f51b5+0,5c6bc0+100 */
    background: #3f51b5; /* Old browsers */ /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #3f51b5 0%, #5c6bc0 100%); /* Chrome10-25,Safari5.1-6 */
    background: -webkit-linear-gradient(315deg, #3f51b5 0%, #5c6bc0 100%);
    background: linear-gradient(135deg, #3f51b5 0%, #5c6bc0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f51b5', endColorstr='#5c6bc0', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

.card {
    background: #fff;
    border-radius: 2px;
    position: relative;
    width: 100%;
}

.card-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card-2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.skillbar {
    position: relative;
    display: block;
    margin-bottom: 15px;
    width: 100%;
    background: #eee;
    height: 35px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    transition-property: width, background-color;
}

.skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    font-weight: bold;
    font-size: 13px;
    color: #ffffff;
    background: #6adcfa;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.skillbar-title span {
    display: block;
    background: rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    height: 35px;
    line-height: 35px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.skillbar-bar {
    height: 35px;
    width: 0px;
    background: #6adcfa;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.skill-bar-percent {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 11px;
    height: 35px;
    line-height: 35px;
    color: #ffffff;
    color: rgba(0, 0, 0, 0.4);
}

.red-gradient {
    background: #ff3563;
    background: -webkit-linear-gradient(315deg, #ff3563 0, #ff5a61 100%);
    background: linear-gradient(135deg, #ff3563 0, #ff5a61 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff3563, endColorstr=#ff5a61, GradientType=1);
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

b {
    font-weight: bold;
}

.empleo img {
    height: 6rem;
}

.slick-container img {
    height: 300px !important;
    width: auto !important;
}

.ekko-lightbox .modal-body {
    padding: 0 !important;
}
